@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  box-sizing: border-box;
}
}

@layer utilities {
  .hover-rotate {
    @apply transition-transform duration-300 hover:rotate-6;
  }
  
  .card-hover {
    @apply transition-all duration-300 hover:shadow-lg hover:scale-[1.02];
  }
}
